.reviewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: #ddcac297;
  /* margin-bottom: 20px; */
  /* border-radius: 8px; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.svgSection {
  margin-top: 20px;
}
.reviewContainer p {
  font-size: 2.75rem;
  font-weight: 500;
  color: #333;
  font-family: "Playfair Display", serif !important;
  margin-top: -1px;
  /* margin-bottom: 20px; */
}

@media (max-width: 480px) {
  .reviewContainer p {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10px;
  }
}
